<div class="d-flex flex-column">
    <div class="row">
        <div class="col-sm-12 col-md-6 p-2">
            <%= f.label :,'' %><br>
            <%= f.text_field :first_name, class:'form-control' %>
        </div>

        
    </div>     
</div>