<div class="container">
    <div id="center">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form>
                    <div class="mb-3">
                        <label for="token_input" class="form-label">Verification code will be sent to your email</label>
                        <div class="row">
                            <div class="col-8">
                                <input type="email" value="<%= user.email %>" class="form-control" disabled>
                            </div>
                            <div class="col-4">
                                <%= link_to "send code", "/users/send_verification_token",class:'btn btn-success' %>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                            <label>Enter code here</label>
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>

            <div class="col-md-6 col-sm-12">
                <form>
                    <div class="mb-3">
                        <label for="token_input" class="form-label">Verification code will be sent to your number</label>
                        <div class="row">
                            <div class="col-8">
                                <input type="email" value="<%= user.contact %>" class="form-control" disabled>
                            </div>
                            <div class="col-4">
                                <%= link_to "send code", "/users/send_verification_token",class:'btn btn-success' %>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-3">
                            <label>Enter code here</label>
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>