<div class="container">
    <div>
        <form>
            <div class="mb-3">
                <label for="token_input" class="form-label">Enter verification code sent to your email</label>
                <input type="email" class="form-control" id="token_input">
            </div>

            <div class="mb-3">
                <label for="token_input" class="form-label">Enter verification code sent to you mobile number</label>
                <input type="email" class="form-control" id="token_input">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>