<%= render 'navbar' %>
<!-- Verify email and phone page -->

<div class="container">
    <div id="page-3">
        <%= render 'verify_email_phone', user: @user %>
        <% if (@user.number_verified and @user.email_verified) %>
        <div class="row" id='nav_btns'>
            <div class="col-6">
            </div>
            <div class="col-6 d-flex justify-content-end">
                <%=link_to "Complete", completed_user_path, class:'btn btn-primary'%>
            </div>
        </div>
        <% end %>
    </div>
</div>
