// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

#nav_btns {
    bottom: 30px;
    position: fixed;
    width: 85%;
}

#navigation {
    top: 0;
    position: fixed;
    width: 100%;
}

#center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
}