<div class="mx-5 pt-2">
    <% flash.each do |key, value| %>
        <div class="alert <%= flash_class(key.to_s) %> alert-dismissible" role="alert">
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
</div>
