<!DOCTYPE html>
<html>
  <head>
    <title>RailApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%#= comment line below to start working %>
    <h3>edit this template to change according to your need</h3>
    <h4>pre-insatlled</h4>
    <ul>
        <li>
            <p>Bootstrap@5.x</p>
        </li>
        <li>
            <p>Jquery@3.x</p>
        </li>
        <li>
            <p>PopperJS</p>
        </li>
        <li>
            <p>Webpacker@5.x</p>
        </li>
        <li>
            <p>webpack-dev-server</p>
        </li>
    </ul>
    <%#= yield %>
  </body>
</html>
